.font-face(Fira Sans, 'fonts/FiraSans-Book', 400, normal);
.font-face(Fira Sans, 'fonts/FiraSans-BookItalic', 400, italic);
.font-face(Fira Sans, 'fonts/FiraSans-Light', 300, normal);
.font-face(Fira Sans, 'fonts/FiraSans-LightItalic', 300, italic);
.font-face(Fira Sans, 'fonts/FiraSans-Medium', 500, normal);
.font-face(Fira Sans, 'fonts/FiraSans-MediumItalic', 500, italic);
.font-face(Fira Sans, 'fonts/FiraSans-Bold', 700, normal);
.font-face(Fira Sans, 'fonts/FiraSans-BoldItalic', 700, italic);

.font-face(Fira Mono, 'fonts/FiraMono-Regular', 400, normal);

.font-face(DalekoIcons, 'fonts/DalekoIcons', 400, normal);

[class^='daleko-'],
[class*=' daleko-'] {

    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'DalekoIcons' !important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-transform: none;
    color: white;
    speak: none;    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Social
.daleko-telegram {
    &:before {
        content: @daleko-telegram;
    }

    &:hover {
        content: @daleko-telegram;
        color: @color-daleko-telegram;
    }

}

.daleko-vk {
    &:before {
        content: @daleko-vk;
    }

    &:hover {
        content: @daleko-vk;
        color: @color-daleko-vk;
    }

}

.daleko-instagram {
    &:before {
        content: @daleko-instagram;
    }

    &:hover {
        content: @daleko-instagram;
        color: @color-daleko-instagram;
    }

}

.daleko-facebook {
    &:before {
        content: @daleko-facebook;
    }

    &:hover {
        content: @daleko-facebook;
        color: @color-daleko-facebook;
    }

}

.daleko-twitter {
    &:before {
        content: @daleko-twitter;
    }

    &:hover {
        content: @daleko-twitter;
        color: @color-daleko-twitter;
    }

}

.daleko-pinterest {
    &:before {
        content: @daleko-pinterest;
    }

    &:hover {
        content: @daleko-pinterest;
        color: @color-daleko-pinterest;
    }

}

.daleko-youtube {
    &:before {
        content: @daleko-youtube;
    }

    &:hover {
        content: @daleko-youtube;
        color: @color-daleko-youtube;
    }

}

// Logo
.daleko-daleko-logo {
    -webkit-transition-duration: .5s;
       -moz-transition-duration: .5s;
            transition-duration: .5s;
            
    -webkit-transition-property: color, background, opacity, width;
       -moz-transition-property: color, background, opacity, width;
            transition-property: color, background, opacity, width;

    vertical-align: middle;
    text-decoration: none;
    text-transform: none;

    &:before {
        content: @daleko-daleko-logo;
    }

    &:hover {
        content: @daleko-daleko-logo;
        color: rgba(232, 232, 234, .7);
    }

}

// Events
.daleko-event-geo {
    &:before {
        content: @daleko-event-geo;
    }

}

.daleko-event-phone {
    &:before {
        content: @daleko-event-phone;
    }

}

.daleko-event-time {
    &:before {
        content: @daleko-event-time;
    }

}

// Support
.daleko-yot {
    color: black;

    &:before {
        content: @daleko-yot;
    }

}
