@font-face {
    font-family: 'sicon';
    src : url('fonts/sicon.eot?b29o2l');
    src : url('fonts/sicon.eot?b29o2l#iefix') format('embedded-opentype'),
    url('fonts/sicon.ttf?b29o2l') format('truetype'),
    url('fonts/sicon.woff?b29o2l') format('woff'),
    url('fonts/sicon.svg?b29o2l#sicon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="ficon-"],
[class*=" ficon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'sicon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: white;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.error404 [class^="ficon-"],
[class*=" ficon-"] {
    color: white;
}

.ficon-in {
    &:before {
        content: "\e902";
    }
    &:hover {
        content: "\e902";
        color: #E12F67;
    }
}

.ficon-tg {
    &:before {
        content: "\e900";
    }
    &:hover {
        content: "\e900";
        color: #0088cc;
    }
}

.ficon-vk {
    &:before {
        content: "\e901";
    }
    &:hover {
        content: "\e901";
        color: #45668e;
    }
}

.ficon-fb {
    &:before {
        content: "\ea90";
    }
    &:hover {
        content: "\ea90";
        color: #3B5998;
    }
}

.ficon-tw {
    &:before {
        content: "\ea96";
    }
    &:hover {
        content: "\ea96";
        color: #55ACEE;
    }
}

.ficon-yt {
    &:before {
        content: "\ea9e";
    }
    &:hover {
        content: "\ea9e";
        color: #CD201F;
    }
}

.ficon-pt {
    &:before {
        content: "\ead1";
    }
    &:hover {
        content: "\ead1";
        color: #BD081B;
    }
}




ul#socialmenu li {
    display: inline;
}

@font-face {
    font-family: 'yot';
    src : url('fonts/yot.eot?f8yvy');
    src : url('fonts/yot.eot?f8yvy#iefix') format('embedded-opentype'),
    url('fonts/yot.ttf?f8yvy') format('truetype'),
    url('fonts/yot.woff?f8yvy') format('woff'),
    url('fonts/yot.svg?f8yvy#yot') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="yot"],
[class*=" yot"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'yot' !important;
    color: black;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.yot:before {
    content: "\e890";
}


@font-face {
    font-family: 'logo';
    src : url('fonts/logo.eot?sfyr98');
    src : url('fonts/logo.eot?sfyr98#iefix') format('embedded-opentype'),
    url('fonts/logo.ttf?sfyr98') format('truetype'),
    url('fonts/logo.woff?sfyr98') format('woff'),
    url('fonts/logo.svg?sfyr98#logo') format('svg');
    font-weight: normal;
    font-style: normal;
}

.site-logo {
    text-decoration: none;
}

.icon-logo {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'logo' !important;
    speak: none;
    color: white;
    font-style: normal;
    text-transform: none;
    text-decoration: none;
    vertical-align: middle;
    line-height: 1;

    -webkit-transition-property: color,background,opacity,width;
    -moz-transition-property: color,background,opacity,width;
    transition-property: color,background,opacity,width;

    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;

    &:before {
        content: "\e700";
    }
    &::hover {
        color: rgba(232, 232, 234, 0.7);
    }
}